#gnb {
    width: 100%;
    height: 32px;
    background-color: #000;
}
#header {
}
#nav {
}
#main {
}

#footer {
}

.container {
    width: 944px;
    margin: 0 auto;
    position: relative;
}

/* gnb */
.gnb_inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gnb h6 {
    font-size: 0.8em;
}
#gnb h6 a {
    color: floralwhite;
}
#gnb h6 a:hover {
    color: rgb(27, 5, 27);
}

#gnb ul {
    display: flex;
}
#gnb ul li {
    font-size: 0.85em;
    padding: 0 9px;
}
#gnb ul li :last-child {
    padding-right: 0;
}
#gnb ul li a {
    color: #ebcdcd;
}
#gnb ul li a:hover {
    color: #fff;
}
/* dlalwlfmf vygusgksms qkdqjq
1) html <img"..> 중요한 이미지 베너 등
2) css ex}backgroud 
3) */

#gnb h6 span {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../img/icons.png) no-repeat -350px 2px;
    margin-left: 3px;
}
#gnb ul li span {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../img/icons.png) no-repeat 0 0;
    margin-left: 5px;
}
#gnb ul li:nth-child(3) span {
    background-position: -299px 2px;
}
#gnb ul li:nth-child(4) span {
    background-position: -200px 2px;
}
#gnb ul li:nth-child(5) span {
    background-position: -250px 2px;
}
body {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    color: #333;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}
img {
    vertical-align: top;
}
img,
fieldset,
iframe {
    border: 0 none;
}

/* IR 효과 */
.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
/* header */
.header_inner {
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.menu {
    display: flex;
}
ul.menu li {
}
ul.menu li a {
    display: block;
    padding: 0 11px;
    font-weight: bold;
    position: relative;
}
ul.menu li:first-child a {
    padding-left: 0;
}

ul.menu li a.bar::before {
    content: "";
    width: 1px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 2px;
    right: 0;
}
ul.menu li a:hover {
}
h1.logo {
    font-family: "Playfair Display", serif;
    font-size: 4em;
    letter-spacing: 3px;

    position: absolute;

    left: 50%;
    transform: translate(-50%, 0);
    /* 나를 왼쪽으로 반만 이동 */
}
h1.logo a {
    color: #114926;
}
h1.logo a span {
    color: #969696;
    font-weight: 150;
}
.search_box {
    display: flex;
    border: 1px solid #114926;
    box-sizing: border-box;
}
.search_box input {
    display: inline-block;
    width: 164px;
    height: 36px;
    padding-left: 10px;
    outline: 0;
    background-color: transparent;
}
.search_box button {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../img/lip.png) no-repeat center center / 80%;

    cursor: pointer;
}
/* .nav_inner {
    border-top: 5px solid #333;
    padding-top: 20px;
    height: 56px;
    background-color: #ffffff;
}

#nav ul {
    display: flex;
}
#nav ul li {
    justify-content: space-between;
    margin: 0 auto;
} */
#nav ul {
    display: flex;
    justify-content: space-around;
    border-top: 5px solid #333;
    /* height: 56px; */
    /* 세로값을 지정하지 않는 방향으로 */
}
#nav ul li {
    font-family: "Ubuntu", sans-serif;
    font-size: 1ea;
    font-weight: 400;
}

#nav ul li a {
    display: block;
    padding: 20px 0;
    color: #180303;
}
#nav ul li a:hover {
    color: #114926;
}

/* mian banner */
.main_banner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.rolling {
    width: 624px;
    height: 456px;
}
.rolling img {
    width: 100%;
}

.main_event {
    width: 304px;
    height: 136px;
    background-color: rgba(243, 240, 240, 0);
    background: url(../img/main_event.png) no-repeat center center / cover;
}

.feature_item {
    width: 304px;
    gap: 304px;
    background-color: #fff;
    border: 1px solid #333;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.feature_item figcaption {
    /* 폰트바꾸기 */
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
}

.feature_item .feature_img {
    text-align: center;
}

/* itme txt */
.item_text {
    text-align: center;
}
.item_text ul {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.item_text ul li {
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_text ul li:first-child {
    font-weight: 800;
    color: #fff;
}
.item_text ul:nth-child {
    color: #fff;
}

.item_text ul li span.money {
    color: #fff;
    font-weight: 800;
    margin-right: 8px;
}
.item_text ul li span.cancle {
    color: #fff;
    text-decoration: line-through;
}

/* title start 메인안 섹션별로 사용 */
.title {
    height: 46px;
    border-top: 5px solid#000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.title h2 {
    /* 네비폰트 */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5em;
    letter-spacing: 5px;
    /* 글자사이 벌려줨 */
    color: #333;
}

/* title end */

/*special_picks */
.special_picks {
    margin-top: 50px;
}

.pick_menu {
    border-top: 2px dotted #011408;
}
.pick_menu ul {
    border-top: 2px dotted #130000;
    display: flex;
    justify-content: center;
}
.pick_menu ul li {
    padding: 0 15px;
    /* now 메뉴 글자사이 벌려짐 물어보자 */
    position: relative;
}
.pick_menu ul li a {
    display: block;
    padding: 15px 0;
}
.pick_menu ul li a:hover {
    border-top: 4px solid #240101;
    /* position: relative;
    top: -4px; */
    /* 메뉴선 움직이는거  */
    margin-top: -4px;
}
/* 삼각형만들기 가상요소 이용 보더성질 이용*/
.triangle::before {
    content: "";
    border-top: 5px solid#000;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.pick_menu ul li a:hover .triangle::before {
    opacity: 1;
}

.pick_box {
    display: flex;
}
.pick {
    width: 25%;
    /* flex: 1; */
    text-align: center;
    padding-bottom: 15px;
}
.pick_img {
    padding: 15px 0;
}
.pick_icon {
    width: 25px;
    height: 16px;
    margin: 0 auto;
    margin-bottom: 8px;
    background: url(../img/icons.png) no-repeat 0 0;
}
.icon02 {
    width: 48px;
    background-position: -50px 0;
}
.icon04 {
    background-position: -150px 0;
}
.magazine {
    margin-top: 50px;
}
.brand_focus {
    margin-top: 50px;
}
/* .product_box {
    display: flex;
    justify-content: space-between;
} */
.product_box img {
    width: 100%;
}
.best_contents {
    margin-top: 50px;
}

.best_inner {
    display: flex;
}
.best_menu {
}
.best_menu li {
    width: 176px;
}
.best_menu li a {
    display: block;
    width: 100%;
    height: 72px;
}
.best_menu li:nth-child(1) a {
    background: url(../img/best_menu01.jpg);
}
.best_menu li:nth-child(2) a {
    background: url(../img/best_menu02.jpg);
}
.best_menu li:nth-child(3) a {
    background: url(../img/best_menu03.jpg);
}
.best_menu li:nth-child(4) a {
    background: url(../img/best_menu04.jpg);
}
.best_menu li:nth-child(1) a:hover {
    background: url(../img/best_menu01_r.jpg);
}
.best_menu li:nth-child(2) a:hover {
    background: url(../img/best_menu02_r.jpg);
}
.best_menu li:nth-child(3) a:hover {
    background: url(../img/best_menu03_r.jpg);
}
.best_menu li:nth-child(4) a:hover {
    background: url(../img/best_menu04_r.jpg);
}
.best_iframe {
    width: 768px;
    height: 288px;
}
.tab_box {
    margin-top: 50px;
}
.seller_box {
    display: flex;
    justify-content: space-around;
}
.seller_box a {
    transition: 0.5s;
}
.seller_box a:hover {
    filter: blur(5px);
}

.footer_inner {
    margin-top: 80px;
    display: flex;
    border-top: 5px solid#010e06;
    padding: 30px 0;
}
.footer_inner section {
    flex: 1;
    padding: 0 15px;
    height: 86px;
}
.footer_inner section ul {
    border-right: 1px solid #010e06;
    height: inherit;
}
.footer_inner section ul.outlet {
    border-right: 0;
    border-bottom: 1px dotted #000;
    padding-bottom: 5px;
    height: 38px;
}
.footer_inner section ul li {
    margin-bottom: 3px;
}
.footer_inner section ul li span {
    font-weight: bold;
    font-size: 1.2em;
}
.footer_inner section ul li strong {
    font-size: 1.7em;
}
