.rolling .swiper-button-next,
.rolling .swiper-button-prev {
    color: brown;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    opacity: var(--swiper-pagination-bullet-opacity, 1);
}
